@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

button {
  cursor: pointer;
}

.post-content p {
  margin-bottom: 0.5rem;
}
.post-content h1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem 0;
  font-family: sans-serif;
}
.post-content h2 {
  font-size: 1.2rem;
  font-weight: 600;
}
.post-content a {
  color: rgb(73, 149, 199);
  text-decoration: none;
}
.post-content a:hover {
  text-decoration: underline;
}
